// COLORES

$color-background-header: rgb(83, 83, 228);
$color-background-menuHamburguesa: #dec8ff;
$color-linksHeader: white;
$color-linksHeaderHover: bisque;
$color-footer1-background: white;
$color-footer2-background: rgb(83, 83, 228);
$color-footer2-text: white;
$color-container-products: white;
$color-shadow-card-products: black;
$color-border-card-products: rgb(83, 83, 228);
$color-information-card-products: lightgray;
$color-form-accountBorder: rgb(83, 83, 228);
$color-text-shopping: black;
$color-text-contact: black;