@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.hoverContactanos:hover {
  color: bisque; }

.hover_menuHamburguesa:hover {
  color: bisque; }

.letraChica {
  font-size: 1rem;
  font-weight: 100; }

.letraMediana {
  font-size: 2rem;
  font-weight: 500; }

.letraGrande {
  font-size: 3rem;
  font-weight: 700; }

.botonFacebook {
  color: blue; }

.botonInstagram {
  color: red; }

* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100vw; }

#grilla {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: 6% 74% 20%;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw; }

#grillaFooter {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%; }

.border {
  border: 1px solid black; }

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5353e4;
  width: 100%; }

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #dec8ff;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out; }

.enlaceMenuHamburguesa, .hover_menuHamburguesa {
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  color: black;
  margin: 10px; }

.headerLogo {
  width: 50px;
  cursor: pointer; }

.headerEnlaces {
  display: flex;
  flex-direction: row; }

.headerEnlaces_item {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  top: 60px;
  margin: 10px; }

.headerEnlaces li {
  display: inline-block; }

.headerEnlaces li a:hover {
  color: bisque; }

.headerBarra {
  width: 50vw;
  height: 40px;
  border-radius: 10px;
  font-size: larger; }

@media (min-width: 872px) {
  .navbar-toggler {
    display: none; } }

@media only screen and (max-width: 872px) {
  .headerEnlaces {
    display: none; } }

/* MAIN */
main {
  grid-area: main;
  justify-content: space-between;
  width: 100%; }

/* FOOTER */
footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px; }

.footer1 {
  background-color: white;
  display: flex;
  width: 100%; }

.patrocinadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.patrocinadores li {
  display: inline-block; }

.patrocinador1 {
  width: 100px; }

.patrocinador2 {
  width: 100px; }

.patrocinador3 {
  width: 100px; }

.footer2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5353e4;
  align-items: center; }

.footer2 li p {
  text-align: center; }

.contactanos, .hoverContactanos {
  text-decoration: none;
  margin: 30px;
  color: white; }

.pRedesSociales {
  color: white; }

.footer2 li {
  display: inline-block;
  padding: 3px; }

.redSocial1 {
  width: 50px; }

.redSocial2 {
  width: 50px; }

@media (max-width: 335px) {
  .patrocinador1 {
    width: 50px; }
  .patrocinador2 {
    width: 50px; }
  .patrocinador3 {
    width: 50px; }
  .redSocial1 {
    width: 20px; }
  margin-left: 10px;
  .redSocial2 {
    width: 20px; }
  margin-left: 25px;
  .pRedesSociales {
    color: white;
    margin-left: 20px; } }

@media (max-width: 1661px) {
  .footerProductos {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 400px; } }

@media (max-width: 832px) {
  .footerProductos {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 850px; } }

@media (max-width: 557px) {
  .footerProductos {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2200px; } }

/* PRODUCTOS.HTML */
#grillaProductos {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100vh; }

.container_productos {
  background-color: white;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around; }

.producto {
  max-width: 260px;
  display: flex;
  flex-flow: column;
  border-radius: 6px;
  border-style: solid;
  box-shadow: 0 0 0.1em black;
  border-color: #5353e4;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  justify-content: space-around;
  margin: 10px; }

.producto:hover {
  box-shadow: 0 0 0.5em black; }

.producto > img {
  width: 250px;
  max-width: 100%;
  object-fit: cover; }

.informacion {
  border-top: 1px solid lightgray;
  padding: 1em;
  display: flex;
  flex-flow: column; }

.informacion * + * {
  margin-bottom: 1em; }

.precio {
  font-size: 1.5em; }

.descripcion {
  font-weight: 300; }

/* CUENTA.HTML */
.containerCuenta {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex__cuenta {
  text-align: center;
  justify-content: center;
  height: 250px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 5px;
  border-color: #5353e4;
  border-radius: 10px; }

.flex__tituloFormulario {
  font-size: larger; }

.flex__contenidoFormulario {
  padding-top: 5%;
  padding-bottom: 8%; }

.flex__correo {
  margin-bottom: 10px; }

.flex__contrasena {
  margin-bottom: 10px; }

.flex__botonContinuar {
  margin-bottom: 10px; }

/* CUENTA2.HTML */
.textoCuenta2 {
  text-align: center;
  line-height: 35px;
  margin-top: 2%;
  margin-bottom: 13%; }

.textoCuenta2 ul li {
  list-style: none; }

/* CARRITO.HTML */
.textoCarrito {
  text-align: center;
  color: black;
  line-height: 35px;
  margin-top: 2%;
  margin-bottom: 19%; }

.textoCarrito ul li {
  list-style: none; }

/* CONTACTANOS.HTML */
.textoContactanos {
  text-align: center;
  color: black;
  line-height: 35px;
  margin-top: 2%;
  margin-bottom: 15%; }

.textoContactanos ul li {
  list-style: none; }
